@import "./resets";

@mixin theme($dark-theme: true) {
    @if dark-theme {
        background: #222;
        color: #fff;
    }

    @else {
        background: #fff;
        color: #000;
    }
}


body {
    @include theme(dark-theme);
    font-family: system-ui;
}

.head {
    margin: 10px 0px;
}

.price {
    input {
        width: 20%;
    }

    #total {
        background: #a00d02;
        padding: 5px 3px;
        border-radius: 3px;

        &::before{
            content: 'Total: ';

        }
    }
}
button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #390052;
    transition: 0.5s;
    color: #fff;

    &:hover{
        background: #420350;
        letter-spacing: 0.8px;
    }
}
.btnSearch{
    display: flex;
    justify-content: space-between;

    button{
        width: 45%;
    }
}
table {
    width: 100%;
    text-align: center;

    th{
        text-transform: uppercase;
    }
}
#deleteAll{
    margin: 20px 0px;
}
#delete{
    background: #a00d02;
    color: #fff;
}